<div class="content-inner animated  fadeInUp">

    <div class="education-feature">
      <div class="education-icon">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="education-text">
        <h2>2015-2017</h2>
        <h2 >Middle Tennessee State University</h2>
        <h5 style="float:left;">Master in Computer Science</h5>
        <h5 style="float:right;">GPA:3.82/4.0</h5>
      </div>
    </div>

    <div class="education-feature">
      <div class="education-icon">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="education-text">
        <h2>2009-2013</h2>
        <h2 class = "text-right">Hohai University</h2>
        <h5 style="float:left;">Bachelor in Mathematics</h5>
        <h5 style="float:right;">GPA:3.0/4.0</h5>
      </div>
    </div>

</div>

