<div class="content-inner animated  fadeInUp">

    <div class="experience-feature">
      <div class="experience-icon">
        <i class="icon-black-tie"></i>
      </div>
      <div class="experience-text">
        <h2>2016.5-2016.8</h2>
        <h2>Shanghai General Motors Co.,Ltd.</h2>
        <h5 style="float:left;">Software developer Intern</h5>
        <br/>
        <p> • Build new features for an java spring web application  </p>
        <p> • Assisted in analyzing clients’ technical requirements.</p>
        <p> • Participate in development and implementation of smaller modules into larger ones.<p> 
        <p> • Test and debug for different modules</p>
      </div>
    </div>

</div>