<div class="content-inner  text-center animated  fadeInUp">
  
  <div class="projects-feature">
    <div class="projects-icon">
      <i class="icon-file-code-o"></i>
    </div>
    <div class="projects-text"> 
      <h2>American college search</h2>
      <h5 style="float:left;">A website app to search American college information by different search criteria</h5>
      <p> <b>Front end : </b> Javascript, JQuery, HTML, CSS ,Bootstrap </p>
      <p> <b>Back end : </b>Java Spring, Hibernate, Mysql</p>
      <div style="float : left">
        <i class="icon-github"></i>&nbsp;<a href = "https://github.com/Bk2ol/collegeSearch">Github link</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="icon-browser"></i>&nbsp;<a href = "usa-college-search.herokuapp.com">Demo page</a>
      </div>
    </div>
  </div>
     
  <div class="projects-feature">
    <div class="projects-icon">
      <i class="icon-file-code-o"></i>
    </div>
    <div class="projects-text">
      <h2>Online web code sync editor</h2>
      <h5 style="float:left;"> A web code editor which can edit and highlight code simaltaneously by get into same session room</h5>
      <p> <b>Front end : </b> Javascript, HTML, CSS ,Bootstrap </p>
      <p> <b>Back end : </b>NodeJS</p>
      <div style="float : left">
        <i class="icon-github"></i>&nbsp;<a href = "https://github.com/arthurw125/SoftwareEngineeringProject">Github link</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="icon-browser"></i>&nbsp;<a href = "http://cloud-editor.herokuapp.com/">Demo page</a>
      </div>
    </div>
  </div>

</div>
